*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.btn:link, .btn:visited {
  background-color: #218795;
  border-radius: 3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.25); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

.btn--big {
  font-size: 2rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    font-size: 2rem;
    font-weight: 500;
    color: #218795;
    text-decoration: none;
    text-transform: uppercase; }
  .header__nav-list {
    display: flex;
    list-style: none; }
  .header__nav-item {
    color: #464646;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 2rem; }
  .header__nav-link {
    text-decoration: none;
    color: #464646;
    transition: all 0.2s; }
    .header__nav-link:hover {
      border-bottom: 3px solid #218795; }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 70vh; }
  .landing__span {
    font-size: 10rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-family: "Libre Baskerville", serif; }
  .landing__span-link {
    text-decoration: none;
    color: #135057; }

.heading-2 {
  font-size: 2.4rem;
  color: rgba(70, 70, 70, 0.8); }

.background-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  height: 100vh;
  filter: opacity(0.1); }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem; }

.mb-sm {
  margin-bottom: 1.5rem; }
