// COLORS
$color-primary: #218795;
$color-primary-light: #aee3eb;
$color-primary-dark: #135057;
$color-primary-darker: #092939;

$color-grey: #464646;
$color-grey-dark: #292929;

$color-light: #fff;

// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Libre Baskerville", serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
}
