// COLORS
$color-primary: #218795;
$color-primary-light: #aee3eb;
$color-primary-dark: #135057;
$color-primary-darker: #092939;

$color-grey: #464646;
$color-grey-dark: #292929;

$color-light: #fff;

// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Libre Baskerville", serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 65.625em; // 1050px
$bp-medium: 59.375em; // 950px;
$bp-small: 53.125em; // 850px;
$bp-smaller: 46.875em; // 750px;
$bp-smallest: 37.5em; // 600px;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; // 1rem = 9px
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1.8rem;
}
