.landing {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 10rem);
  animation: moveInLeft 1.5s ease;

  &__text-box {
    transform: translateY(-2.5rem);
    @media only screen and (max-width: $bp-smaller) {
      text-align: center;
    }
  }

  &__span {
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-family: $font-secondary;

    @media only screen and (max-width: $bp-large) {
      font-size: 10rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 9rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 8rem;
    }

    @media only screen and (max-width: $bp-smaller) {
      font-size: 7rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 4rem;
    }
  }

  &__span-link {
    text-decoration: none;
    color: $color-primary-dark;
    text-shadow: 5px 5px $color-primary-light;
  }
}
