.landing {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 10rem);
  animation: moveInLeft 1.5s ease;

  @media only screen and (max-width: $bp-large) {
    align-items: center;
  }

  &__text-box {
    transform: translateY(-100px);
  }
  &__span {
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-family: $font-secondary;
  }

  &__span-link {
    text-decoration: none;
    color: $color-primary-dark;
    text-shadow: 5px 5px $color-primary-light;
  }
}
